
# Bank Account Verification

## Structure

`BankAccountVerification`

## Fields

| Name | Type | Tags | Description |
|  --- | --- | --- | --- |
| `deposit_1_in_cents` | `int` | Optional | - |
| `deposit_2_in_cents` | `int` | Optional | - |

## Example (as JSON)

```json
{
  "deposit_1_in_cents": 142,
  "deposit_2_in_cents": 132
}
```

