# -*- coding: utf-8 -*-

"""
maxioadvancedbillingformerlychargifyapi

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from maxioadvancedbillingformerlychargifyapi.api_helper import APIHelper
from maxioadvancedbillingformerlychargifyapi.configuration import Server
from maxioadvancedbillingformerlychargifyapi.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from maxioadvancedbillingformerlychargifyapi.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.and_auth_group import And
from apimatic_core.authentication.multiple.or_auth_group import Or
from maxioadvancedbillingformerlychargifyapi.models.offer_response import OfferResponse
from maxioadvancedbillingformerlychargifyapi.models.list_offers_response import ListOffersResponse
from maxioadvancedbillingformerlychargifyapi.exceptions.offers_json_422_error_exception import OffersJson422ErrorException
from maxioadvancedbillingformerlychargifyapi.exceptions.api_exception import APIException


class OffersController(BaseController):

    """A Controller to access Endpoints in the maxioadvancedbillingformerlychargifyapi API."""
    def __init__(self, config):
        super(OffersController, self).__init__(config)

    def create_offer(self,
                     body=None):
        """Does a POST request to /offers.json.

        Create an offer within your Chargify site by sending a POST request.
        ## Documentation
        Offers allow you to package complicated combinations of products,
        components and coupons into a convenient package which can then be
        subscribed to just like products.
        Once an offer is defined it can be used as an alternative to the
        product when creating subscriptions.
        Full documentation on how to use offers in the Chargify UI can be
        located
        [here](https://chargify.zendesk.com/hc/en-us/articles/4407753852059).
        ## Using a Product Price Point
        You can optionally pass in a `product_price_point_id` that corresponds
        with the `product_id` and the offer will use that price point. If a
        `product_price_point_id` is not passed in, the product's default price
        point will be used.

        Args:
            body (CreateOfferRequest, optional): TODO: type description here.

        Returns:
            OfferResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/offers.json')
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                          .key('Content-Type')
                          .value('application/json'))
            .body_param(Parameter()
                        .value(body))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(OfferResponse.from_dictionary)
            .local_error('422', 'Unprocessable Entity (WebDAV)', OffersJson422ErrorException)
        ).execute()

    def list_offers(self):
        """Does a GET request to /offers.json.

        This endpoint will list offers for a site.

        Returns:
            ListOffersResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/offers.json')
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListOffersResponse.from_dictionary)
        ).execute()

    def read_offers(self,
                    offer_id):
        """Does a GET request to /offers/{offer_id}.json.

        This method allows you to list a specific offer's attributes. This is
        different than list all offers for a site, as it requires an
        `offer_id`.

        Args:
            offer_id (int): The Chargify id of the offer

        Returns:
            OfferResponse: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/offers/{offer_id}.json')
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                            .key('offer_id')
                            .value(offer_id)
                            .should_encode(True))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(OfferResponse.from_dictionary)
            .local_error('401', 'Unauthorized', APIException)
        ).execute()

    def archive_offer(self,
                      offer_id):
        """Does a PUT request to /offers/{offer_id}/archive.json.

        Archive an existing offer. Please provide an `offer_id` in order to
        archive the correct item.

        Args:
            offer_id (int): The Chargify id of the offer

        Returns:
            void: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/offers/{offer_id}/archive.json')
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                            .key('offer_id')
                            .value(offer_id)
                            .should_encode(True))
            .auth(Single('global'))
        ).execute()

    def unarchive_offer(self,
                        offer_id):
        """Does a PUT request to /offers/{offer_id}/unarchive.json.

        Unarchive a previously archived offer. Please provide an `offer_id` in
        order to un-archive the correct item.

        Args:
            offer_id (int): The Chargify id of the offer

        Returns:
            void: Response from the API. OK

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path('/offers/{offer_id}/unarchive.json')
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                            .key('offer_id')
                            .value(offer_id)
                            .should_encode(True))
            .auth(Single('global'))
        ).execute()
